.jobs-list-container {
  min-height: 100vh;
  padding: 25px;
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-details-container {
  padding-top: 65px;
}
.display-5,
.display-7,
.display-9 {
  text-decoration: underline;
}
.create-container {
  padding-top: 70px;
}
