@import url("https://fonts.googleapis.com/css2?family=REM&display=swap");

*,
body {
  margin: 0 0;
  padding: 0 0;
  font-family: "REM", sans-serif;
}
:root {
  --primary-color: rgb(1, 210, 218);
  --primary-dark-color: rgb(0, 141, 146);
  --secondary-color: rgb(185, 0, 90);
  --secondary-dark-color: rgb(116, 1, 56);
  --primary-background: rgb(227, 255, 254);
  --secondary-background: rgb(134, 132, 133);
  --white: #ffffff;
  --bold-text: 800;
  --medium-text: 500;
  --light-text: 300;
}
.form-control:active,
.form-control:focus {
  border: 2px solid var(--primary-color) !important;
  box-shadow: none !important;
}
.fields {
  height: 45px !important;
  width: 100%;
  font-size: 21px;
  font-weight: 600;
}
.fields:active,
.fields:focus {
  height: 55px !important;
}
.primary-button {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  width: 100%;
  height: 45px;
  font-size: 23px;
}
.primary-button:hover {
  background-color: var(--primary-dark-color) !important;
  height: 55px;
}
.glass-effect {
  /* From https://css.glass */
  background: var(--primary-background);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--primary-color);
  backdrop-filter: blur(15.9px);
  -webkit-backdrop-filter: blur(15.9px);
  border: 1px solid var(--primary-dark-color);
  width: 70%;
  min-height: 60%;
  border-radius: 12px;
}
